@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #f8fafc;
  direction: rtl;
}