version: '3.12'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi-app
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/geo_db
    volumes:
      - ./app:/app

  db:
    image: postgis/postgis:16-3.4
    container_name: postgis-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: geo_db
    ports:
      - "55432:5432"        # Avoid conflicts on macOS (local Postgres uses 5432)
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data: